body {
    background-image: linear-gradient(to left, #aaaa91, #848478, #5e5e5e, #5e6772, #4f5762);   
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.barra {
    font-family: 'Times New Roman', Times, serif;
    font-size: 140%;
    
}

#destaque {
    border-bottom: 1.5px solid white;
    margin-bottom: 10px;
}

#destaque h2 {
    margin-left: 15px;
    font-size: 140%;
    padding-bottom: 9px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.card-body {
    height: 340px;
}


.buttons {
    border-radius: 30px;
    margin-bottom: -160px;
    padding-top: 25px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  color: #0505A9;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #0505A9;
  border-radius: 30px;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 30px;
}

.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #0505A9;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

.container-rodape {
    border-top: 1.5px solid white;
    padding-top: 25px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 22px;
    text-align: center;
}

#sobre {
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  font-size: 24px;
  color: black;
}

#sobre #ultimo {
  font-weight: bold;
}
